[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.25"
beautifulsoup4 = "==4.9"

[dev-packages]
pytest = "*"
pylint = "*"
jedi = "*"
autopep8 = "*"
coverage = "*"

[requires]
python_version = "3.9"
